<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIDI Player</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/e3s4xamK03kFj40aLcI" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
    <!-- need for sidebar -->
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            const contentContainer = document.getElementById("content-container");
            sidebar.classList.toggle("sidebar-hidden");
            contentContainer.classList.toggle("sidebar-adjacent");
        }
    </script>
</head>
<body>
    <h1 class="my-5">Music Generation Pipeline</h1>
    <button class="hamburger" onclick="toggleSidebar()">&#9776;</button>
    <nav class="sidebar" id="sidebar">
        <ul class="nav flex-column">
            <li><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
            <li><a class="nav-link" href="{{ url_for('train') }}">Train Model</a></li>
            <li><a class="nav-link" href="{{ url_for('generate') }}">Generate Music</a></li>
            <!-- Add more navigation items here -->
        </ul>
    </nav>
    <div class="container content-container" id="content-container">
        {% for file in files %}
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h2 class="card-title">{{ file }}</h2>
                <midi-player src="{{ file }}" sound-font visualizer="#myVisualizer{{ loop.index }}"></midi-player>
                <midi-visualizer type="piano-roll" src="{{ file }}" id="myVisualizer{{ loop.index }}"></midi-visualizer>
            </div>
        </div>
        {% endfor %}

    </div>
</body>
</html>
