@font-face {
  font-family: "Light";
  src: local("Merriweather-Regular"),
    url("./fonts/Merriweather-Regular.ttf") format("truetype");
}

.Button {
  margin: 50px;
  font-family: "Light";
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button:hover {
  background-color: #4f98e8;
}
